<div class="one">
<nav class="navbar navbar-expand-lg navbar-dark">
<ul class="navbar-nav mr-auto">
    <li class="nav-item col-4">
        <p> &#10004;Dispensed by registered pharmacist</p>
     </li>
     <li  class="nav-item col-4">
        <p > &#10004; 100% Discretion & Confidentiality</p>
     </li>
     <li  class="nav-item col-4">
        <p > Official sponsor of Nottingham Forest</p>
     </li>
     <li  class="nav-item col-3">
        <p >  &#9990;Registered Pharmacy: 123456789</p>
     </li>

</ul>
</nav>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light two">
        <a class="navbar-brand" href="#">MEDTEAM</a>
       <form class="form-inline col-6">
            <input class="form-control" type="search" placeholder="Search Treatments">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          
        
            <ul class="navbar-nav">
              
                <li class="nav-item">
                <a class="nav-link" href="#"> &#xf812; How It Works</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" routerLink="/nextpage" class="btn btn-danger">Orders</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Basket</a>
              </li>

            </ul>
      </nav>

      <br>
    

      <button type="button" class="btn" data-toggle="tooltip" data-html="true">
        Men's Health
    </button>
      <button type="button" class="btn" data-toggle="tooltip" data-html="true" >
        Women's Health
      </button>
      <button type="button" class="btn" data-toggle="tooltip" data-html="true" >
Chronic Condition  </button>

<button type="button" class="btn" data-toggle="tooltip" data-html="true" >
    General Health
</button>
  <button type="button" class="btn" data-toggle="tooltip" data-html="true" >
    Sexual Health
  </button>
  <button type="button" class="btn" data-toggle="tooltip" data-html="true">
Travel Health  </button>

<button type="button" class="btn" data-toggle="tooltip" data-html="true" >
    Well being
</button>
  <button type="button" class="btn" data-toggle="tooltip" data-html="true" >
    Supplements
  </button>
  
<br>
<br>
<br>
<br>
     
       <h1>Tests & Diagnostics</h1> 
       <p>When it comes to the world of medicines, the first part of being able to treat a problem,<br> 
        condition or ailment is identifying it. Here at UK Meds, we stock a number of diagnostic tools <br>
        from STI kits to blood sugar test strips for diabetes. Once you’ve worked out exactly what you <br>
        need to treat, we’re here on hand with our friendly online doctor service and vast range of <br>
        products, to get you feeling the best that you can.
      </p>
      
      
</div>
</div>

<br>
<br>


<app-page2></app-page2>
<app-page3></app-page3>
