<div>
    <div class="row">
        <div class="col-3 border1">
            <p style="font-size:20px;"><b>Diabetes Diagnostics </b></p>
           <p> Diabetes is a disease that affects your blood sugar levels and, if not managed properly, can cause complications. Keep diabetes under control by using proper tests and diagnostics.</p>
           <button class="btn btn-primary">View Products</button>    
        </div>
            <div class="col-3 border1">
                <p style="font-size:20px;"><b>Blood Pressure Monitors</b></p> 
                <p >An indicator of both short term and long <br>term health problems, it’s important that <br>you know and understand your blood <br> pressure.</p>
                <button class="btn btn-primary">View Products</button>
            </div>
            
            
    </div>
</div>
<br>
<br>
<p style="font-size:30px;" class="six">Your treatment <b style="color:blue;"> discreetly</b>  to your door in three easy steps
</p>
<div>
    <div class="row">
        <div class="col-3">
            <img [src]="image" class="three">
        </div>
        <div class="col-3">
            <img [src]="image1" class="three">
        </div>
        <div class="col-3">
            <img [src]="image2" class="three">
        </div>
    </div>
    
   

</div>


<div>
    <div class="row">
        <div class="col-2 four">
            <h1 style="color:blue;">&#10122;</h1>
        </div>
        <div class="col-2 four">
            <h1 style="color:blue;">&#10123;</h1>
        </div>
        <div class="col-3 four">
            <h1 style="color:blue;">&#10124;</h1>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-4">
            <div class="five">
          <b> Choose your treatment</b> 
          <p>  Sit back, relax and choose your one-off <br>
            or subscription of medication on any device <br>
            from anywhere.
        </p>
        </div>
        </div>

        <div class="col-4">
         <div class="five">
            <b>Complete a consultation</b>  
           <p> With complete privacy and confidentiality <br>
            your form is checked by a pharmacist <br>
            independent prescriber and then <br>
            dispensed by UK Meds online pharmacy.
        </p>
    </div>
        </div>
        
        <div class="col-4">
            <div class="five">
    <b>Receive your delivery</b>
    <p>With same day service in parts of the UK,<br>
         you can have your treatment delivery <br>
         discreetly within hours.
    </p>
    </div>
    </div>
   
   
    </div>


   <button class="btn btn-warning" style="margin-left: 600px;"> See how our service works in detail</button> 


</div>

<br>
<br>
<br>